<html>

<body>
    <h1 class="titrepage">A Propos</h1>
    <p class="intropage">
        Bienvenue sur notre site ! Étudiantes en licence 2 d'Informatique à Sorbonne Université, nous avons créé ce
        site dans le cadre d'un
        projet en cours de Web.
    </p>
    
    <p class="p1">Notre site a été mis en place afin de vous parler de quelques films du Studio Ghibli et de l'un de ses créateurs
        afin que vous en sachiez plus sur cet univers.
    </p>
    <h1 class="accueil">Page d'accueil</h1>
    <p class="p2">Sur notre page d'accueil vous trouverez une description de l'un des créateurs du Studio Ghibli.
        Ne vous en faites pas, il suffit de cliquer sur sa photo et nous nous occupons de vous rediriger vers la bonne
        page.
    </p>
    <p class="p3">Vous trouverez également une sélection de six films du Studio Ghibli dont nous avons fait une description.
        Même fonctionnement, cliquez sur les images et vous serez redirigé vers la page du film.
        Nous avons mis une bande annonce en fin de page si jamais la description du film vous a plu.
    </p>
    <h1 class="menu">Menu</h1>
    <p class="p4">Vous pouvez à tout moment revenir à la page d'accueil via le menu qui se trouve sur la gauche de la page en
        cliquant sur le logo. Vous pouvez choisir de vous inscrire à notre site afin de vous connecter à n'importe quel moment grâce à l'onglet Connexion|Inscription.
        Vous verrez aussi que nous avons mis en place une galerie d'images, vous pouvez y jeter un
        coup d'oeil. Et normalement si vous êtes en train de lire ce texte c'est que vous avez cliqué sur l'onglet "A
        propos" donc pas besoin de vous expliquer ce qui se passe en cliquant dessus car vous y êtes déjà.
    </p>
    <h1 class="remarques">Remarques</h1>
    <p class="p5">Pour finir nous nous appelons Hiba, Vanessa et Sinem. Nous espérons que notre travail vous aura plu et nous
        sommes ouvertes à toutes critiques et/ou remarques. Vous pouvez nous envoyer votre avis à l'adresse suivante:
        contact.ghibli@exemple.fr</p>
</body>

</html>