
  {{# if illustration}}
    <section>
      <div id="illustration">
        <span>Le Voyage de Chihiro</span>
          <img src={{illustration.path}}>
      </div>
    </section>
  {{/if}}

  <section>

  </section>

  <section id="video">
      <iframe width="50%" height="600" src="https://www.youtube.com/embed/5-cro68n7CE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </section>
