
{{!-----------------------------------FORM-------------------------------------------}}
<div class="form">
  <ul class="tab-group">
       <li class="tab active"><a href="#signup">Inscription </a></li>
       <li class="tab"><a href="#login">Connexion</a></li>
     </ul>

     <div class="tab-content">

       <div id="signup">
          <h1>Bienvenue à Studio Ghibli </h1>
          <form action="/" method="post">

                    <div class="top-row">
                      <div class="field-wrap">
                        <label>
                          Prénom<span class="req">*</span>
                        </label>
                        <input type="text" required autocomplete="off" />
                      </div>

                      <div class="field-wrap">
                        <label>
                          Nom<span class="req">*</span>
                        </label>
                        <input type="text"required autocomplete="off"/>
                      </div>
                    </div>

                    <div class="field-wrap">
                      <label>
                      E-mail<span class="req">*</span>
                      </label>
                      <input type="email"required autocomplete="off"/>
                    </div>

                    <div class="field-wrap">
                      <label>
                        Mot de passe<span class="req">*</span>
                      </label>
                      <input type="password"required autocomplete="off"/>
                    </div>

                    <button type="submit" class="button button-block"/>Inscription</button>

                    </form>

                  </div>

                  <div id="login">
                           <h1> Rebonjour !</h1>

                           <form action="/" method="post">

                             <div class="field-wrap">
                             <label>
                               E-mail<span class="req">*</span>
                             </label>
                             <input type="email"required autocomplete="off"/>
                           </div>

                           <div class="field-wrap">
                             <label>
                               Mot de passe<span class="req">*</span>
                             </label>
                             <input type="password"required autocomplete="off"/>
                           </div>



                           <button class="button button-block"/>Connexion</button>

                           </form>

                         </div>

                  </div>

</div>
