<html>
  <body>
    <h1 id="titre">Galerie</h1>
    <div class="gallery">
      <div class="img-w"><img src="/photos2/chihiro2.jpg" alt="" /></div>
      <div class="img-w"><img src="/photos2/totoro3.png" alt="" /></div>
      <div class="img-w"><img src="/photos2/wp7.jpg" alt="" /></div>
      <div class="img-w"><img src="/photos2/wp10.jpg" alt="" /></div>
      <div class="img-w"><img src="/photos2/wp11.jpg" alt="" /></div>
      <div class="img-w"><img src="/photos2/earthsea1.jpg" alt="" /></div>
      <div class="img-w"><img src="/photos2/mononoke1.jpg" alt="" /></div>
      <div class="img-w"><img src="/photos2/castle.jpg" alt="" /></div>
      <div class="img-w"><img src="/photos2/totoro1.jpg" alt="" /></div>
      <div class="img-w"><img src="/photos2/Chateau.jpg" alt="" /></div>
      <div class="img-w"><img src="/photos2/Terremer.jpeg" alt="" /></div>
      <div class="img-w"><img src="/photos2/wp12.jpeg" alt="" /></div>
      <div class="img-w"><img src="/photos2/wp1.jpg" alt="" /></div>
      <div class="img-w"><img src="/photos2/ponyo1.jpg" alt="" /></div>
      <div class="img-w"><img src="/photos2/wp3.jpeg" alt="" /></div>
      <div class="img-w"><img src="/photos2/wp4.jpeg" alt="" /></div>
      <div class="img-w"><img src="/photos2/chihiro.jpg" alt="" /></div>
      <div class="img-w"><img src="/photos2/wp5.jpeg" alt="" /></div>
      <div class="img-w"><img src="/photos2/wp9.jpeg" alt="" /></div>
      <div class="img-w"><img src="/photos2/wp13.jpeg" alt="" /></div>
      <div class="img-w"><img src="/photos2/Totoro.jpg" alt="" /></div>
      <div class="img-w"><img src="/photos2/Ponyo.jpg" alt="" /></div>
      <div class="img-w"><img src="/photos2/vent.jpg" alt="" /></div>
      <div class="img-w"><img src="/photos2/luciole.jpg" alt="" /></div>
    </div>
  </body>
</html>