<html>

<body>

  <!-- Header -->
  <div class="header">
    <h1 id="titre">Galerie</h1>
  </div>
  <div class="wrapper">
    <img id="img1" src="/photos2/chihiro.jpg" >
    <img id="img2" src="/photos2/chihiro2.jpg" >
    <img id="img4" src="/photos2/wp7.jpg" >
    <img id="img5" src="/photos2/wp10.jpg" >
    <img id="img6" src="/photos2/wp11.jpg" >
    <img id="img7" src="/photos2/earthsea1.jpg" >
    <img id="img8" src="/photos2/mononoke1.jpg" >
    <img id="img9" src="/photos2/castle.jpg" >
    <img id="img10" src="/photos2/Chateau.jpg" >
    <img id="img11" src="/photos2/Terremer.jpeg" >
  </div>
</body>

</html>