<!DOCTYPE html>
<html>
 <head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script> AOS.init({ duration: 1200, }) </script>
   <link rel="stylesheet" href="/css/pageweb.css" />
   <link rel="stylesheet" href="/css/movies.css"/>
   <link rel="stylesheet" href="/css/Miyazaki.css"/>
   <link rel="stylesheet" href="/css/form.css" />
   <link rel="stylesheet" href="/css/galerie.css" />
<<<<<<< HEAD
   <link rel="stylesheet" href="/css/apropos.css" />
=======
   <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
>>>>>>> f01bbd07b67e94a1a301e6ada4337d2d7d354457
   <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
   <title>Studio Ghibli</title>
 </head>

 <body>
   {{{ body }}}

     <div class="bar">
        <div id="menu" >
      <div onclick="openNav()">&#9776; </div>
      </div>
     </div>

       <div id="mySidenav" class="nav">
         <a class="closebtn" onclick="closeNav()">&times;</a>
           <div><a href="/Home"> <img class="logo "src="/photos/logo2.png"></a></div>
<<<<<<< HEAD
           <div ><a href="/login" target="_blank"> Connexion | Inscription  </a></div>
           <span>  <a href="/galerie"> Galerie </a> <a href="/apropos"> A propos </a></span>
=======
           <div ><a href="/login" target="_blank"> Connexion <br> Inscription  </a></div>
          <div> <a href="galerie">Galerie </a> <a href="#"> A propos </a> </div>

>>>>>>> f01bbd07b67e94a1a301e6ada4337d2d7d354457
       </div>



   <footer>
   © 2019 Studio Ghibli. All rights reserved
  </footer>
   <script src="/js/galerie.js"></script>
   <script src="/js/pageweb.js"></script>
   <script src="/js/form.js"></script>


 </body>
</html>
