<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="css/PageWeb.css" />

   <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
   <title>Ghibli</title>
 </head>
 <body>
   <div class="navigation">
     <div><a href="#"> Home </a></div>
     <div><a href="#"> The Master </a></div>
     <div><a href="#"> Creations </a></div>
     <div><a href="#"> About Us </a></div>
      <div id="nodeco"><a href="#"> Sign in </a></div> <div class="signin"> Formulaire</div>
      <div id="nodeco"> <a href="#"> Sign up </a> </div> <div class="new"> New to the Ghibli world? Sign up for a blablabla blablabla blablabla  </div>

   </div>
   {{{ body }}}

   <footer>

   © 2019 Studio Ghibli. All rights reserved

  </footer>
 </body>
</html>
