<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="/css/PageWeb.css" />
   <link rel="stylesheet" href="/css/ModelePage.css"/>
    <link rel="stylesheet" href="/css/form.css" />
   <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
   <title>Ghibli</title>
 </head>
 <body>

   <div class="page-container">
     <div class="bar">
        <div id="main" >
      <div onclick="openNav()">&#9776; </div>

      </div>
     </div>

       <div id="mySidenav" class="nav">


         <a class="closebtn" onclick="closeNav()">&times;</a>

         <div><a href="/Home"> <img class="logo "src="/photos/logo2.png"></a></div>
        <div ><a href="/login" target="_blank"> Connexion | Inscription  </a></div>
         <span> <a href="#"> A propos </a> <a href="#"> Vos commentaires </a></span>


       </div>

   {{{ body }}}

   <footer>
   © 2019 Studio Ghibli. All rights reserved
  </footer>
   <script src="/js/PageWeb.js"></script>
   <script src="/js/form.js"></script>
 </div>
 </body>
</html>
