<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="css/PageWeb.css" />
   <link rel="stylesheet" href="ModelePage.css"/>
   <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
   <title>Ghibli</title>
 </head>
 <body>
   <div class="navigation">
     <div><a href="#"> Accueil </a></div>
     <div><a href="#"> Le Boss </a></div>
     <div><a href="#"> Créations </a></div>
     <div><a href="#"> A propos </a></div>
    <div id="nodeco"><a href="#"> Connexion </a></div> <div class="signin"> </div>
    <div id="nodeco"> <a href="#"> Inscription </a> </div> <div class="new"> </div>

   </div>

   {{{ body }}}

   <footer>
   © 2019 Studio Ghibli. All rights reserved
  </footer>
 </body>
</html>
