<!DOCTYPE html>
<html>
 <head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="/css/pageweb.css" />
   <link rel="stylesheet" href="/css/movies.css"/>
   <link rel="stylesheet" href="/css/Miyazaki.css"/>
   <link rel="stylesheet" href="/css/form.css" />
   <link rel="stylesheet" href="/css/galerie.css" />
   <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
   <title>Ghibli</title>
 </head>
 <body>

   {{{ body }}}

     <div class="bar">
        <div id="menu" >
      <div onclick="openNav()">&#9776; </div>
      </div>
     </div>

       <div id="mySidenav" class="nav">
         <a class="closebtn" onclick="closeNav()">&times;</a>
           <div><a href="/Home"> <img class="logo "src="/photos/logo2.png"></a></div>
           <div ><a href="/login" target="_blank"> Connexion | Inscription  </a></div>
           <span>  <a href="galerie"> Galerie </a> <a href="#"> A propos </a></span>
       </div>



   <footer>
   © 2019 Studio Ghibli. All rights reserved
  </footer>
   <script src="/js/pageweb.js"></script>
   <script src="/js/form.js"></script>
   <script src="/js/galerie.js"></script>

 </body>
</html>
