<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="css/PageWeb.css" />
   <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
   <title>Ghibli</title>
 </head>
 <body>
   {{{ body }}}
 </body>
</html>
