<div class="master" >

  <img src="/photos/hiyao1.jpg" class="illus"  width="750px" height="500px">
    <span class="titre"> Hiyao Miyazaki  </span>
    <div class="contenue">
            <div class="contenue1">
              Hayao Miyazaki est né le 5 janvier 1941 à Tokyo.
              Sa jeunesse est marquée par la Deuxième Guerre Mondiale
              et par l’image d’une mère atteinte de tuberculose, qui
              restera alitée pendant neuf ans. Son père dirige une société
              qui fabrique des gouvernails d’avions pour l’armée.
              Miyazaki a dix-sept ans lorsque sort Le Serpent blanc,
              premier dessin animé de long métrage japonais.
             Pendant plusieurs années, Miyazaki se contente du dessin, mais
             explore éventuellement le monde de la réalisation avec sa premier
             serie télévisée :  Conan, le fils du futur.

          </div>
          <div class="contenue2">
            Avec le succès de l'adaptation cinématographique de sa bande
            dessinée Nausicaa, en 1984, il fonde, en compagnie d'Isao Takahata,
            le Studio Ghibli. Dans ce studio, il réalise avec ce dernier de
            nombreux films à succès. La plupart de ses films sont mis en musique
            par Joe Hisaishi.
            Ghibli concrétise l'ambition d'amener l'animation japonaise vers
            un niveau supérieur de qualité. Ses films sont longs, souvent
            complexes et peuvent se voir à plusieurs niveaux. Ils ne sont
            pas en général destinés aux très jeunes enfants.
            </div>
            <span class="titre1"> Inspiration </span>
            <img src="/photos/hiyao.jpg" class="illus2"  width="700px" height="500px">

            <div class="contenue3">
              le shintoïsme ou shinto, littéralement « la voie des dieux »
              ou « la voie du divin » est la religion fondamentale la plus
              ancienne du Japon, liée particulièrement à sa mythologie.<br>
              Le concept majeur du shintoïsme est le caractère sacré de la nature.
              Le profond respect en découlant définit la place de l'homme dans
              l'univers : être un élément du grand tout. Ainsi, un cours d'eau,
              un astre, un personnage charismatique, une simple pierre ou même
              des notions abstraites comme la fertilité peuvent être considérés
              comme des divinités.<br>
              Miyazaki puise son imagination de ce concept. Il se base là dessus
              pour dresser le portrait de la majorité de ces personnages les plus
              célèbres. Le surnaturel chez Miyazaki se nourrit de syncrétisme religieux,
              de mythologie et de références culturelles historiques, ce qui donne
              à ses oeuvres une immortalité surdimentionnelle.
              </div>
    </div>


</div>
