


  <div class="background">
  <video poster="photos/chihiro.png" id="chihiro" autoplay muted loop>
  <source src="video/chihiro.mp4" type="video/mp4">
  </video>
  </div>


<a href="#" style="text-decoration: none;" > <div class="center film" id="master">
  <div class="text">    Miyazaki
    </div>

</div>
</a>

<div class="inline">

<a href="#" style="text-decoration: none;">
  <div class="block film" id="chihioro">
  <div class="text">    Le voyage de Chihiro
    </div>

  </div>

  </a>

  <a href="#" style="text-decoration: none;">
  <div class="block film" id="howl">
  <div class="text"> Le Château ambulant </div>

  </div>
  </a>

    </div>


  <div class="inline">

  <a href="#" style="text-decoration: none;">
 <div class="block film" id="totoro" style="text-decoration:none;">

 <div class="text" > Mon voisin Totoro </div>
  </div>
  </a>

  <a href="#" style="text-decoration: none;">
  <div class="block film" id="mononoke">
   <div class="text"> Princesse Mononoke </div>
  </div>
   </a>

  </div>

  <div class="inline">

 <a href="#" style="text-decoration: none;">
 <div class="block film" id="ponyo">
   <div class="text"> Ponyo sur la falaise</div>
  </div>
   </a>

   <a href="#" style="text-decoration: none;" >
  <div class="block film" id="terremer">
    <div class="text"> Les contes de Terremer </div>
  </div>
  </a>
 </div>
