

<!---       Compilation      ---->
<div class="ban">

  <div class="compilation">
    <video src="/video/compilation.mp4" width= "100%" type="video/mp4" autoplay muted loop>
    </video>
    <div class="overlay">
      <img src="/photos/logo.png" id="logo">
    </div>
  </div>
</div>


<!---       Miyazaki       ---->

<div class="maitre" data-aos="fade-up" >
  <div class="intro">
    <a href="/Miyazaki"> <img src="/photos/miyazaki1.jpg" class="miyazaki" height="400" ; width="450" ;>
    </a>

    <p class="bio">
      <span id="maitre"> Le Maître </span><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Donec venenatis euismod ipsum, id pellentesque dui aliquet eu.
      Integer tempor, leo sed condimentum elementum, ante purus ullamcorper lacus, a dapibus lorem nibh at eros.
      Donec a interdum justo, id maximus quam. Nullam eget turpis vitae dui elementum pellentesque.
      Mauris ornare magna vel est interdum semper. Quisque et metus accumsan, semper dolor in, condimentum neque.
    </p>

  </div>
</div>


<!---       MOVIES        ---->

<div class="partie">
  <h2  data-aos="fade-up"> Créations </h2>

  <div class="two_movies"  data-aos="fade-up">

    <a href="/film/Chihiro" class="block ">
      <img src="/photos/chihiro2.jpg" class="film" height="400" ; width="450" ;>
      <span class="text"> Le voyage de Chihiro </span>
    </a>

    <a href="/film/Chateau" class="block">
      <img src="/photos/castle.jpg" class="film" height="400" ; width="450" ;>
      <span class="text"> Le Château ambulant</span>
    </a>

  </div>

  <div class="two_movies"  data-aos="fade-up">

    <a href="/film/Totoro" class="block">
      <img src="/photos/totoro3.png" class="film">
      <span class="text"> Mon voisin Totoro </span>
    </a>

    <a href="/film/Mononoke" class="block">
      <img src="/photos/mononoke1.jpg" class="film" height="400" ; width="450" ;>
      <span class="text"> Princesse Mononoke </span>
    </a>

  </div>

  <div class="two_movies"  data-aos="fade-up">

    <a href="/film/Ponyo" class="block">
      <img src="/photos/wp7.jpeg" class="film" height="400" ; width="450" ;>
      <span class="text"> Ponyo sur la falaise</span>
    </a>

    <a href="/film/Terremer" class="block">
      <img src="/photos/earthsea.jpg" class="film" height="400" ; width="450" ;>
      <span class="text"> Les contes de Terremer </span>
    </a>

  </div>

</div>
