

@font-face {
  font-family: 'Calligraffitti';
  font-style: normal;
  font-weight: 400;

  src: local('Calligraffitti Regular'), local('Calligraffitti-Regular'), url(https://fonts.gstatic.com/s/calligraffitti/v11/46k2lbT3XjDVqJw3DCmCFjE0vkFeOZc.woff2) format('woff2');

}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;

  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');

}



*, *:before, *:after {
  box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

body {
  background-color:#fcfae8;
  font-family:  Calligraffitti, bold;
}


.form {
 background: #e4bfb4;
  padding: 20px;
  max-width:500px;
  margin:40px auto;
  margin-bottom: 100px;
  border-radius:4px;
  box-shadow: 0 5px 40px 5px  #888888;
}


.tab-group {
    list-style:none;
    padding:0;
    margin:0 0 40px 0;
  }
.tab-group:after {
      content: "";
      display: table;
      clear: both;
    }


  .tab a{
      display: inline-block;
      text-decoration: none;
      padding:10px;
      border-color: white;
      border-width: thin;
      background:#e4bfb4;
      color:white;
      font-size:45px;
      float:left;
      width:50%;
      text-align:center;
      transition:.5s ease;
    }
.tab a:hover{
  background:hsl(0, 59%, 40%, 0.3)	;
  color: white;
}


.active a {
        background-color: hsl(0, 59%, 40%, 0.4);
        color:white;
 }



.tab-content > div:last-child {
  display:none;
}

h1 {
  text-align:center;
  color:white;
  font-weight:300;
  margin:0 0 40px;
}

label {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color:black;
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:22px;
  .req {
  	margin:2px;
  	color:hsl(0, 59%, 40%, 0.4);
  }
}

label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
  .req {
    opacity:0;
  }
}

label.highlight {
	color:white;
}

input, textarea {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border-width:1px ;
  border-color: hsl(0, 59%, 40%, 0.4);
  color:white;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
}
input:focus  , textarea:focus {
		outline:0;
		border-color:hsl(0, 59%, 40%, 0.4);
  }


textarea {
  border:2px hsl(0, 59%, 40%, 0.4);
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float:left;
    width:48%;
    margin-right:4%;
    &:last-child {
      margin:0;
    }
  }
}

.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight:600;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:hsl(0, 59%, 40%, 0.4);
  color: white;
  transition:all.5s ease;
  -webkit-appearance: none;
}
  .button:hover, .button:focus {
    background-color:hsl(0, 59%, 40%, 0.3);
  }


.button-block {
  display:block;
  width:100%;
}
