@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');


*, *:before, *:after {
  box-sizing: border-box;
}

html {
	overflow-y: scroll;
}



.form {
 background: #f9f6f2;
  padding: 20px;
  max-width:500px;
  margin:40px auto;
  margin-bottom: 200px;
  border-radius:4px;
  box-shadow: 0 5px 40px 5px  #888888;
}


.tab-group {
    list-style:none;
    padding:0;
    margin:0 0 40px 0;
  }
.tab-group:after {
      content: "";
      display: table;
      clear: both;
    }


  .tab a{
      display: inline-block;
      text-decoration: none;
      padding:10px;
      border-width: thin;
      background: #f9f6f2;
      color: rgb(33, 18, 18);
      font-family:  'Red Hat Display', sans-serif, bolder;
      font-size:45px;
      letter-spacing:.005em;
      float:left;
      width:50%;
      text-align:center;
      transition:.5s ease;
    }
.tab a:hover{
  background:#91906F;
  color: white;
}


.active a {
  background-color: #7C7B57;
  color:white;
 }


.tab-content > div:last-child {
  display:none;
}

h1 {
  text-align:center;
  font-family:'Red Hat Display', sans-serif;
  color:rgb(33, 18, 18);
  font-size: 30px;
  font-weight:300;
  margin:0 0 30px;
}

label {
  position:absolute;
  left:13px;
  font-family:'Red Hat Display', sans-serif;
  color:black;
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:25px;
  .req {
  	margin:2px;
  	color: rgb(148, 81, 81);
  }
}

label.active {
  transform:translateY(-30px);
  left:2px;
  font-size:20px;
}


input, textarea {
  font-size:25px;
  display:block;
  width:100%;
  height:100%;
  padding:7px 10px;
  border-width:1px ;
  background-color: #f9f6f2;
  border-color:  rgb(148, 81, 81);
  color: rgb(148, 81, 81);
  transition:border-color .25s ease, box-shadow .25s ease;
}
input:focus  , textarea:focus {
		outline:0;
		border-color: rgb(148, 81, 81);
  }


textarea {
  border:2px  rgb(148, 81, 81);
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float:left;
    width:48%;
    margin-right:4%;
    &:last-child {
      margin:0;
    }
  }
}

.button {
  border:0;
  outline:none;
  padding:15px 0;
  font-family:'Red Hat Display', sans-serif, bolder;
  font-size:45px;
  letter-spacing:.1em;
  background: #7C7B57 ;
  color: white;
  transition:all.5s ease;
  -webkit-appearance: none;
}
  .button:hover, .button:focus {
    background-color:#91906F;
  }


.button-block {
  display:block;
  width:100%;
}
