@font-face {
  font-family: 'MaruGothic';
  src:url('/Police/font_1_honokamarugo_1.1.ttf');
}

@font-face {
  font-family: 'Moyko';
  src:url('/Police/Moyko.ttf');
}


  #illustration {
  position: relative;
  overflow: hidden;
  line-height: 2em;
  margin-top: 80px;
  height: 150px;
  }

  #illustration img {
  z-index: 0;
  position: relative;
  width: 100%;  font-weight: bold;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  }

  #illustration:hover img {
	opacity: .5;
  }

  #illustration span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: -100%;
  padding: 0 .25em;
  color : #4b3314;
  font-family: 'Moyko';
  transition: all .5s;
  z-index: 3;
  text-align: center;
  width: 100%;
  height: 100%;
  }

  #illustration:hover span {
  left: 0em;
  font-size: 60px;
  font-family: 'Moyko';
  line-height: 60px;
  font-weight: bold;
  }

#video {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#content1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 30px 50px 30px;
}


#content2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  margin: 50px 30px 50px 30px;
}

.text1, .text2 {
  text-align: center;
  margin-right: 10px;
}
