@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');


.ban{
  position: relative;
}

.compilation {
  top:0;
  left: 0;
  width:100%;
  height:100%;
  z-index: -1;
  opacity: 1;
  margin-bottom: 0;
}

.overlay{
  background: white;
  opacity: 0.5;
  position: absolute;
  top: -150px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo{
  margin-top: 1px;
}


/*@font-face {
  font-family: 'Calligraffitti';
  font-style: normal;
  font-weight: 400;

  src: local('Calligraffitti Regular'), local('Calligraffitti-Regular'), url(https://fonts.gstatic.com/s/calligraffitti/v11/46k2lbT3XjDVqJw3DCmCFjE0vkFeOZc.woff2) format('woff2');

}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;

  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');

}*/


html {
  height: 100%;
  box-sizing: border-box;
}

body{
 background: #EED9C4;
 position: relative;
 margin: 0;
 padding-bottom: 6rem;
 min-height: 100%;
 overflow: hidden;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

.partie{
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;
  background:	white;
}


.nav{
  height: 100%; /*525px height vid */
  width: 0;
  font-family: Raleway, bold;
  font-weight: bolder;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0.8;
  background-color: #EED9C4;
  overflow-x: hidden;
  transition: 0.5s ease;
  padding-top: 60px;

}

.nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  opacity: 0.8;
  display: block;
  transition:.5s ease;
}
.logo{
  margin: 25px;
  opacity: 1px;
}

.nav a:hover {
  color: #f1f1f1;

}

.nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor:pointer;
  color: hsla(0, 30%, 10%);
}


#menu {
  transition: margin-left .5s ease;
  padding: 16px;
  color:white ;
  font-size: 30px;
  cursor:pointer;
  transition: .5s ease;
}

#menu :hover{
 color:hsla(0, 30%, 10%) ;
}

.bar{
position: fixed;
top: 0;

}

@media screen and (max-height: 300px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



.maitre{
  margin-top:40px;
  margin-bottom: 250px;
  text-decoration: none;
  position: relative;
  top: 0;
  left: 0;
}

.intro {
  text-decoration: none;
  display: inline-block;
  margin-left: 200px;
  width: 900px;
  height: 400px;
  position: relative;
  /* background-color:#7BA05B; green */
}

#maitre{
  font-family:'Red Hat Display', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: white;
  margin-left: 0;
  padding-left: 10px;
  padding-right: 50px;
  background: hsla(0, 30%, 10%) ;
  position: absolute;
  left: 190px;
  top:10px;
}


.miyazaki{
  display: block;
  float: right;
  transition: .5s ease;
}

.miyazaki:hover{
  opacity: 0.6;
}

.bio{
  padding: 40px 20px;
  font-family: Raleway, bold;
  word-wrap: break-word;
  width: 450px;
  color :hsla(0, 30%, 10%);
  font-size: 20px;
  text-align: left;
  padding-top: 80px;

}

h2{
  font-family: 'Red Hat Display', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: white;
  margin-bottom: 100px;
  padding-left: 10px;
  padding-right: 50px;
  background: hsla(0, 30%, 10%) ;
  position: absolute;
  top: -95px;
  left: 200px;
  z-index: 10;

}

.two_movies{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin : 60px;
}

.film {
  height: 400px;
  width: 450px;
}

  .block {
    text-decoration: none;
    height: 400px;
    width: 450px;
    transition: .5s ease;
    position: relative;
    top: 0;
    left: 0;
}



.text{
 display: block;
 text-align: center;
 position: absolute;
 top: 0;
 left:0;
 padding-top: 130px;
 width:100%;
 height: 100%;
 background:#FFF;
 opacity: 0;
 color: black;
 font-weight:550;
 font-size:50px;
 overflow: hidden;
 font-family: 'Red Hat Display', sans-serif;
 transition: .5s ease;
}



.block:hover .text {
   width:100%;
   height: 100%;
   opacity:0.8;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 4rem;
  height: 150px;
  width: 100%;
  color: white;
  background-color:rgb(33,18,18);
  font-family:'Red Hat Display', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

/*landscape
@media screen and (max-width: 1060px) {
  #primary{width:67%;}
  #secondary { width:30%; margin-left:3%;}
}
/*portrait
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}*/
