@font-face {
  font-family: 'Calligraffitti';
  font-style: normal;
  font-weight: 400;

  src: local('Calligraffitti Regular'), local('Calligraffitti-Regular'), url(https://fonts.gstatic.com/s/calligraffitti/v11/46k2lbT3XjDVqJw3DCmCFjE0vkFeOZc.woff2) format('woff2');
 
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;

  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
 
}




body{
 background-color: #ECEBBD;
}



.film {
    background-size: cover;
    border: 50px;
}
#master{

  background-image: url("http://images2.fanpop.com/images/photos/3200000/Hayao-Miyazaki-castle-in-the-sky-3289788-400-335.jpg");


}


#chihioro{
   background-image: url("https://66.media.tumblr.com/a059616a28ec9d76c4658de80e0b66cb/tumblr_prt1p0NpC61urxp7v_540.jpg");

  
}

#howl{
  background-image: url("https://i.pinimg.com/originals/5a/bf/c1/5abfc1cfbc52f8f8c5d52a3d1204c65f.jpg");
}

#totoro{
  background-image: url("https://p1.storage.canalblog.com/14/52/695982/50326979.jpg");
}
#mononoke{
  background-image: url("https://i.pinimg.com/originals/54/22/8b/54228b775ae64c65688215a931ff6949.jpg");
  
}

#ponyo{
 background-image: url("https://scontent-yyz1-1.cdninstagram.com/vp/c92f50a9858f8397702aecd658f95299/5E222A29/t51.2885-15/e35/c115.0.270.270a/39578061_280972676068140_8599634345451068273_n.jpg?_nc_ht=scontent-yyz1-1.cdninstagram.com&_nc_cat=100");
}

#terremer{
 background-image: url("https://media2.fdncms.com/stranger/imager/u/original/25512126/filmrev-earthsea-570.jpg");
}


.navigation{
   display: flex;
   flex-direction: row;
   justify-content: flex-end ;
   margin: 0; 
   background: none;
    align-self: flex-end;

}
.navigation a {
  text-decoration: none;
  font-family: Calligraffitti, bold, serif;
  font-weight: 600;
  font-size: 20px;
  display: block;
  padding: 1em;
  color: black;
  text-align: center; 
  padding: 10px;
 

}


.navigation a:hover {
  border-bottom: 1px solid grey ;
}

.new,.signin {
  display: none;
  font-family: Raleway, serif; 
  font-weight: 300px; 

}

#nodeco a:hover {
  border-bottom: none;
}


div:hover + .new, div:hover + .signin {
  display: block;
  position: fixed;
  top: 50px;
  width: 150px;
  text-align: left;
}


.center{
  display: flex;
  margin: auto;
  margin-bottom: 60px;

}


.inline{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
  margin : 50px;
}


.block, .center {
  margin-top: 50px;
  height: 400px;
  width: 450px;
  box-shadow: 5px 8px 20px  #888888;
  border-radius: 1.5%;

}



.text{
   background:#FFF;
   opacity: 0;
   color: black;
   padding-top: 100px;
   padding-left: 16px;
   font-weight:550;
   font-family: Calligraffitti, bold, serif;
}



.block:hover .text , .center:hover .text {
   width:434px;
   height: 300px;
   opacity:0.6;
   color:#000000;
   font-size:40px;
   border-radius: 1.5%;
   overflow: hidden;
  
}

footer{
  
  display: block;
  width: 100%;
  height: 50px;
  background-color: #665233;
  font-family: Raleway, bold;
  font-weight: 400; 
  text-align: center;
  padding: 100px;
  margin-top: 200px;
  
}
